.feedbackList {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  font-size: 20px;
  width: 80px;
  height: 30px;
  margin-right: 23px;
  border: 1px solid black;
  cursor: pointer;
  background: wheat;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  background-color: gray;
}
.btn:active {
  box-shadow: none;
}
